body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
  color: black;
  font-style: oblique;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: grey;
  font-size: 22px;
  position: fixed;
}
.intro-div{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #807e7e, rgb(233, 233, 233));
  width: 100%;
  height: 800px;
  margin-top: 25px;
}
.Projects-div{
  width: 100%;
  margin-top: 40px;
  height: 600px;
}
.Pfp-and-Name{
  margin-top: 50px;
  height: 80%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.Pfp{
  margin-left: 60px;
  width: 700px;
  height: 100%;
}
.Name{
  margin-top: 100px;
  width: 100%;
  height: 300px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 12%;
  padding-left: 10%;
}
.Icons{
  display: flex;
  flex-direction: row;
  gap: 2px;
  width: 100%;
  border-top: 2px solid black;
}
.Logos{
  width: 100px;
  height: 100px;
}
@media (max-width: 1140px) {
  .Logos{
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 1030px) {
  .Logos{
    padding-top: 2%;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 950px) {
  .Logos{
    padding-top: 2%;
    width: 70px;
    height: 80px;
  }
  .Pfp{
    margin-left: 10px;
  }
}
@media (max-width: 810px) {
  .Logos{
    padding-top: 3%;
    width: 60px;
    height: 70px;
  }
  .Name{
    font-size: 20px;
    gap: 12%;
    padding-left: 5%;
  }
}
@media (max-width: 700px) {
  .Logos{
    padding-top: 5%;
    width: 50px;
    height: 60px;
  }
  .Name{
    font-size: 20px;
    gap: 5%;
    padding-left: 0%;
  }
}
@media (max-width: 585px) {
  .Logos{
    padding-top: 5%;
    width: 45px;
    height: 55px;
  }
  .Name{
    font-size: 20px;
    gap: 5%;
    padding-left: 0%;
  }
}
@media (max-width: 532px) {
  .Logos{
    padding-top: 5%;
    width: 40px;
    height: 50px;
  }
  .Name{
    font-size: 20px;
    gap: 5%;
    padding-left: 0%;
  }
  .Pfp{
    margin-left: 5px;
    width: 300px;
    height: 640px;
  }
}
@media (max-width: 475px) {
  .Logos{
    padding-top: 5%;
    width: 35px;
    height: 50px;
  }
  .Pfp-and-Name{
    margin-top: 50px;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .Logos{
    padding-top: 6%;
    width: 30px;
    height: 50px;
  }
  .Pfp-and-Name{
    margin-top: 50px;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .Pfp{
    margin-left: 2px;
    width: 280px;
    height: 640px;
  }
}
.Project-main{
  border-top: 5px solid black;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  background: linear-gradient(to bottom, #636060, rgb(247, 232, 232));
}
.Projects{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.Projects-img-and-links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.ProjectImgs{
  width: 50%;
  border: black groove 5px;
}
.project-description{
  padding-top: 10px;
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
}
.Contacts-Main{
  display: flex;
  flex-direction: row;
  width: 96%;
  margin-left: 2%;
  margin-bottom: 50px;
  justify-content: space-between;
}
.Contacts-div{
  background-color: rgb(173, 170, 170);
  border: solid black 3px;
  border-radius: 15%;
  padding: 100px 80px;
}
.Contacts-div:hover{
  background: linear-gradient(to right,  rgb(83, 82, 82),  rgb(173, 170, 170));
  border-left: solid black 5px;
}
.contacts-imgs{
  width: 100px;
  height: 100px;
}
@media (max-width: 825px) {
  .Contacts-div{
    border-radius: 15%;
    padding: 80px 60px;
  }
}
@media (max-width: 705px) {
  .Contacts-div{
    border-radius: 15%;
    padding: 60px 40px;
  }
}
@media (max-width: 590px) {
  .Contacts-div{
    border-radius: 15%;
    padding: 40px 20px;
  }
}
@media (max-width: 450px) {
  .Contacts-div{
    border-radius: 15%;
    padding: 20px 2px;
  }
}